/* 箱庭諸島２１スタイルシート */
BODY,td,tr,th,input,table,select,textarea
				{ font-family:"ＭＳ Ｐゴシック","Osaka" ;font-size: 12px ; color: #000000 ;}

small				{ font-size: 7pt }
a				{ color:#0000FF ; text-decoration:none; }
a:visited			{ color:#800080 }
a:active			{ color:#FF0000 }
a:hover				{ color:#FF0000 ; text-decoration:underline; }
TEXTAREA			{ border:thin #CCCCCC inset; background-Color:#FFFFFF;}
select				{ border:thin #CCCCCC outset; background-Color:#FFFFFF;}

.title		{ color:#8888ff ;font-size:32px ; text-decoration:bold }	// タイトル
big		{ font-size: 18px }	// 大きい文字
.header		{ color:#4444ff ;font-size: 24px}	// 見出し
.error		{ color:#FF0000 }	// エラーメッセージ
.button		{ color:#008800 ; text-decoration:underline,bold }	// ボタン
.number		{ color:#800000 ; text-decoration:bold }	// 番号
.command	{ color:#d08000 ; text-decoration:bold }	// コマンド

.island_name	{ color:#a06040 ; text-decoration:bold }	// 島の名前
.island_name_g	{ color:#808080 ; text-decoration:bold }	// 島の名前(グレー)
.destory	{ color:#FF0000 ; text-decoration:bold }	// 災害

.turn		{ font-size: 16px; text-decoration:bold }	// ターン
.plan		{ text-decoration:bold }			// 計画の名前

.red	{ background: #FFCCCC ;border-color: #FFDEDE #CCABAB #CCABAB #FFDEDE; border-style: solid; border-width: 1px;}
.pink	{ background: #FFCCFF ;border-color: #FFDDFF #CC99CC #CC99CC #FFDDFF; border-style: solid; border-width: 1px;}
.yellow	{ background: #FFFFCC ;border-color: #FFFFDD #CCCC99 #CCCC99 #FFFFDD; border-style: solid; border-width: 1px;}
.water	{ background: #CCFFFF ;border-color: #DDFFFF #99CCCC #99CCCC #DDFFFF; border-style: solid; border-width: 1px;}
.green	{ background: #CCFFCC ;border-color: #DEFFDE #ABCCAB #ABCCAB #DEFFDE; border-style: solid; border-width: 1px;}
.blue	{ background: #CCCCFF ;border-color: #DEDEFF #ABABCC #ABABCC #DEDEFF; border-style: solid; border-width: 1px;}
.gray	{ background: #EDEDED ;border-color: #FFFFFF #CCCCCC #CCCCCC #FFFFFF; border-style: solid; border-width: 1px;}